#cart-card {
  display: none;
}

.cart-card {
  border: 1px solid #eeeeeea6;
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 20px 7px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);

  .left {
    .content {
      h1 {
        color: var(--body);
        font-size: 24px;
        font-weight: 600;
        margin: 8px 0 2px 0;
      }
      span {
        color: #dddddd;
        font-size: 16px;
        font-weight: normal;
      }
      p {
        color: #dddddd;
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }
}
.right {
  width: 30%;
  .add-to-cart {
    background-image: url("https://images.deliveryhero.io/image/fd-pk/Products/8408590.jpg?width=150&height=150");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    height: 130px;
    border-radius: 8px;
    position: relative;

    i {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: var(--body);
      color: #e21b70;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
