.tab-container {
  text-align: center;
  input[type="radio"] {
    display: none;
    border: 1px solid #eee;
    transition: all 0.5s;
  }

  label {
    display: inline-block;
    padding: 12px 30px;
    color: #e21b70;
    font-size: 18px;
    font-weight: 400;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 4px;
  }

  input[type="radio"]:checked + label {
    background-color: transparent;
    transform: scale(1.07);
  }

  .tab-content {
    display: none;
    padding: 20px;
  }

  input[type="radio"]:checked ~ .tab-content {
    display: block;
  }
}
